<!doctype html>
<html lang="en">
    <!-- <div class="container-fluid"> quedo en el index.html-->
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <label for="run">ID:</label>
            <input class="form-control" type="text" id ="id"  [(ngModel)]="currenpenado.id"/>
            <p></p>
            <label for="run">R.U.N:</label>
            <input class="form-control" type="text" run ="run"  [(ngModel)]="currenpenado.run"/>
              
            <p></p>
          
            <div>
                <label for="nom" >Nombres:</label>
                <input class="form-control" type="text" nom="nombres" [(ngModel)]="currenpenado.nombres"/>
            </div>
            <p></p>
            <div>
              <label for="apell">Apellidos:</label>
              <input class="form-control" type="text" apell="apellidos"[(ngModel)]="currenpenado.apellidos"/>
            </div>
            <div>
              <label for="Direccion">Direccion:</label>
              <input class="form-control" type="text" dir="direccion"[(ngModel)]="currenpenado.direccion"/>
            </div>

            <p></p>
            
          </div>
        <!-- </div> -->
      
    </div>  
      
      
        <div class="row">  
          <div class="col-12 botonera" >
              
              <button  type="submit" class="btn btn-primary mt-5 ml-4"  (click)="crear()" *ngIf="showPenadoButton">Crear</button>
           
              <button  type="submit" class="btn btn-primary mt-5 ml-4"  (click)="actualizar()" *ngIf="showPenadoButton">Actualizar</button>
           
              <button  type="submit" class="btn btn-primary mt-5 ml-4"  (click)="buscar()" *ngIf="showPenadoButton">Buscar</button>

              <button  type="submit" class="btn btn-primary mt-5 ml-4"  (click)="eliminar()" *ngIf="showPenadoButton">Eliminar</button>
              
          </div>
      </div>
      
      <div>
        <ul *ngFor="let item of items">
          <li>{{item.name}}</li>
        </ul>
      </div>
</html>   